#button-id-264- {
  margin: unset;
  font-size: 16px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  min-height: 18px;
  font-weight: 500;
  font-style: normal;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgb(146, 146, 146);
  left: 134px;
  top: 977px;
}

#button-id-264-:active,
#button-id-264-.active {
  color: rgb(255, 255, 255) !important;
}

#button-id-264-:hover,
#button-id-264-.hover {
  color: rgb(255, 255, 255);
}

#button-id-269- {
  margin: unset;
  font-size: 16px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  min-height: 18px;
  font-weight: 500;
  font-style: normal;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgb(146, 146, 146);
}

#button-id-269-:active,
#button-id-269-.active {
  color: rgb(255, 255, 255) !important;
}

#button-id-269-:hover,
#button-id-269-.hover {
  color: rgb(255, 255, 255);
}

#button-id-271- {
  margin: unset;
  font-size: 16px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  min-height: 18px;
  font-weight: 500;
  font-style: normal;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgb(146, 146, 146);
}

#button-id-271-:active,
#button-id-271-.active {
  color: rgb(255, 255, 255) !important;
}

#button-id-271-:hover,
#button-id-271-.hover {
  color: rgb(255, 255, 255);
}

#button-id-273- {
  margin: unset;
  font-size: 16px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  min-height: 18px;
  font-weight: 500;
  font-style: normal;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgb(146, 146, 146);
}

#button-id-273-:active,
#button-id-273-.active {
  color: rgb(255, 255, 255) !important;
}

#button-id-273-:hover,
#button-id-273-.hover {
  color: rgb(255, 255, 255);
}

#button-id-278- {
  margin: unset;
  font-size: 16px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  min-height: 18px;
  font-weight: 500;
  font-style: normal;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgb(146, 146, 146);
}

#button-id-278-:active,
#button-id-278-.active {
  color: rgb(255, 255, 255) !important;
}

#button-id-278-:hover,
#button-id-278-.hover {
  color: rgb(255, 255, 255);
}

#button-id-280- {
  margin: unset;
  font-size: 16px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  min-height: 18px;
  font-weight: 500;
  font-style: normal;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgb(146, 146, 146);
}

#button-id-280-:active,
#button-id-280-.active {
  color: rgb(255, 255, 255) !important;
}

#button-id-280-:hover,
#button-id-280-.hover {
  color: rgb(255, 255, 255);
}

#button-id-56- {
  min-height: 18px;
  margin: unset;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  width: auto;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgb(18, 18, 18);
  font-weight: 600;
  font-style: normal;
  padding: 8px 0px;
  line-height: 16px;
  font-size: 16px;
  letter-spacing: -0.4px;
}

#button-id-56-:active,
#button-id-56-.active {
  color: rgb(18, 18, 18) !important;
}

#button-id-56-:hover,
#button-id-56-.hover {
  color: rgba(18, 18, 18, 0.7);
}

#button-id-58- {
  min-height: 18px;
  margin: unset;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  width: auto;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgb(18, 18, 18);
  font-weight: 600;
  font-style: normal;
  padding: 8px 0px;
  line-height: 16px;
  font-size: 16px;
  letter-spacing: -0.4px;
}

#button-id-58-:active,
#button-id-58-.active {
  color: rgb(18, 18, 18) !important;
}

#button-id-58-:hover,
#button-id-58-.hover {
  color: rgba(18, 18, 18, 0.7);
}

#button-id-60- {
  min-height: 18px;
  margin: unset;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  width: auto;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgb(18, 18, 18);
  font-weight: 600;
  font-style: normal;
  padding: 8px 0px;
  line-height: 16px;
  font-size: 16px;
  letter-spacing: -0.4px;
}

#button-id-60-:active,
#button-id-60-.active {
  color: rgb(18, 18, 18) !important;
}

#button-id-60-:hover,
#button-id-60-.hover {
  color: rgba(18, 18, 18, 0.7);
}

#button-id-62- {
  min-height: 18px;
  margin: unset;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  width: auto;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgb(18, 18, 18);
  font-weight: 600;
  font-style: normal;
  padding: 8px 0px;
  line-height: 16px;
  font-size: 16px;
  letter-spacing: -0.4px;
}

#button-id-62-:active,
#button-id-62-.active {
  color: rgb(18, 18, 18) !important;
}

#button-id-62-:hover,
#button-id-62-.hover {
  color: rgba(18, 18, 18, 0.7);
}

#button-id-64- {
  margin: unset;
  color: rgb(255, 255, 255);
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 600;
  min-height: 16px;
  width: auto;
  background-color: rgb(35, 35, 35);
  letter-spacing: 0px;
  line-height: 16px;
  font-size: 16px;
  border-radius: 100px;
  padding: 15px 28px;
}

#button-id-64-:active,
#button-id-64-.active {
  color: rgb(255, 255, 255);
  background-color: rgb(32, 32, 32) !important;
}

#button-id-64-:hover,
#button-id-64-.hover {
  color: rgb(255, 255, 255);
  background-color: rgba(35, 35, 35, 0.8);
}

#container-id-173- {
  width: 100%;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0);
  padding: 65px;
}

#container-id-173- > * {
  max-width: 100%;
  margin-right: 64px !important;
  margin-bottom: 0px !important;
}

#container-id-173- > :last-child,
#container-id-173- > .last-child {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

#container-id-174- {
  margin: unset;
  width: 33.33%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: auto;
  padding: 0px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
}

#container-id-174- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 8px !important;
}

#container-id-174- > :last-child,
#container-id-174- > .last-child {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

#container-id-180- {
  margin: unset;
  width: 33.33%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: auto;
  padding: 0px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
}

#container-id-180- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 8px !important;
}

#container-id-180- > :last-child,
#container-id-180- > .last-child {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

#container-id-185- {
  margin: unset;
  width: 33.33%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: auto;
  padding: 0px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
}

#container-id-185- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 12px !important;
}

#container-id-185- > :last-child,
#container-id-185- > .last-child {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

#container-id-191- {
  width: 100%;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0);
  padding: 65px;
}

#container-id-191- > * {
  max-width: 100%;
  margin-right: 64px !important;
  margin-bottom: 0px !important;
}

#container-id-191- > :last-child,
#container-id-191- > .last-child {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

#container-id-192- {
  margin: unset;
  width: 33.33%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: auto;
  padding: 0px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
}

#container-id-192- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 8px !important;
}

#container-id-192- > :last-child,
#container-id-192- > .last-child {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

#container-id-198- {
  margin: unset;
  width: 33.33%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: auto;
  padding: 0px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
}

#container-id-198- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 8px !important;
}

#container-id-198- > :last-child,
#container-id-198- > .last-child {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

#container-id-203- {
  margin: unset;
  width: 33.33%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: auto;
  padding: 0px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
}

#container-id-203- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 12px !important;
}

#container-id-203- > :last-child,
#container-id-203- > .last-child {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

#container-id-259- {
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0);
  flex-direction: column;
  padding: 100px;
}

#container-id-259- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 64px !important;
}

#container-id-259- > :last-child,
#container-id-259- > .last-child {
  margin-bottom: 0px !important;
}

#container-id-260- {
  margin: unset;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(238, 238, 238, 0);
  min-height: auto;
  left: 0px;
  top: 988px;
  flex-direction: row;
}

#container-id-260- > * {
  max-width: 100%;
}

#container-id-261- {
  margin: unset;
  background-color: rgba(238, 238, 238, 0);
  align-items: flex-start;
  justify-content: flex-start;
  width: 120px;
  min-height: auto;
  flex-direction: column;
}

#container-id-261- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 24px !important;
}

#container-id-261- > :last-child,
#container-id-261- > .last-child {
  margin-bottom: 0px !important;
}

#container-id-263- {
  margin: unset;
  background-color: rgba(238, 238, 238, 0);
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: auto;
  left: 0px;
  top: 908px;
  flex-direction: column;
}

#container-id-263- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 16px !important;
}

#container-id-263- > :last-child,
#container-id-263- > .last-child {
  margin-bottom: 0px !important;
}

#container-id-266- {
  margin: unset;
  background-color: rgba(238, 238, 238, 0);
  align-items: flex-start;
  justify-content: flex-start;
  width: 120px;
  min-height: auto;
  left: 413px;
  top: 1247px;
  flex-direction: column;
}

#container-id-266- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 24px !important;
}

#container-id-266- > :last-child,
#container-id-266- > .last-child {
  margin-bottom: 0px !important;
}

#container-id-268- {
  margin: unset;
  background-color: rgba(238, 238, 238, 0);
  align-items: flex-start;
  justify-content: flex-start;
  width: unset;
  min-height: auto;
  left: 0px;
  top: 908px;
  flex-direction: column;
}

#container-id-268- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 16px !important;
}

#container-id-268- > :last-child,
#container-id-268- > .last-child {
  margin-bottom: 0px !important;
}

#container-id-275- {
  margin: unset;
  background-color: rgba(238, 238, 238, 0);
  align-items: flex-start;
  justify-content: flex-start;
  width: 120px;
  min-height: auto;
  flex-direction: column;
}

#container-id-275- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 24px !important;
}

#container-id-275- > :last-child,
#container-id-275- > .last-child {
  margin-bottom: 0px !important;
}

#container-id-277- {
  margin: unset;
  background-color: rgba(238, 238, 238, 0);
  align-items: flex-start;
  justify-content: flex-start;
  width: unset;
  min-height: auto;
  left: 0px;
  top: 908px;
  flex-direction: column;
}

#container-id-277- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 16px !important;
}

#container-id-277- > :last-child,
#container-id-277- > .last-child {
  margin-bottom: 0px !important;
}

#container-id-31- {
  margin: unset;
  min-height: 258px;
  width: 101.49999999999999%;
  padding: 0px;
  background-color: rgb(245, 245, 245);
  border-radius: 0px;
}

#container-id-46- {
  width: 100%;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0);
  padding: 65px;
}

#container-id-46- > * {
  max-width: 100%;
  margin-right: 64px !important;
  margin-bottom: 0px !important;
}

#container-id-46- > :last-child,
#container-id-46- > .last-child {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

#container-id-47- {
  margin: unset;
  width: 33.33%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: auto;
  padding: 0px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
}

#container-id-47- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 8px !important;
}

#container-id-47- > :last-child,
#container-id-47- > .last-child {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

#container-id-51- {
  margin: unset;
  width: 33.33%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: auto;
  padding: 0px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
}

#container-id-51- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 8px !important;
}

#container-id-51- > :last-child,
#container-id-51- > .last-child {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

#container-id-52- {
  align-items: center;
  padding: 0px 80px;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0);
}

#container-id-52- > * {
  max-width: 100%;
  margin-right: 48px !important;
  margin-bottom: 0px !important;
}

#container-id-52- > :last-child,
#container-id-52- > .last-child {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

#container-id-54- {
  margin: unset;
  width: 33.33%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: auto;
  padding: 0px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
}

#container-id-54- > * {
  max-width: 100%;
  margin-right: 0px !important;
  margin-bottom: 12px !important;
}

#container-id-54- > :last-child,
#container-id-54- > .last-child {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

#container-id-55- {
  min-height: 34px;
  margin: unset;
  background-color: rgba(238, 238, 238, 0);
  align-items: center;
  justify-content: flex-end;
  width: auto;
  flex-direction: row;
}

#container-id-55- > * {
  max-width: 100%;
  margin-right: 48px !important;
  margin-bottom: 0px !important;
}

#container-id-55- > :last-child,
#container-id-55- > .last-child {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

#content-container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#content-container > * {
  max-width: 100%;
  margin-right: 0px !important;
}

#content-container > :last-child,
#content-container > .last-child {
  margin-right: 0px !important;
  margin-bottom: 0px !important;
}

#element-id-33- {
  letter-spacing: 0px;
  font-size: 80px;
  font-family: arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-style: normal;
  font-weight: 700;
  color: rgb(41, 41, 41);
  text-align: center;
  border-width: 1px;
  border-style: none;
}

#element-id-54- {
  width: 100%;
}

#image-id-53- {
  margin: unset;
  top: -50px;
  background-color: rgba(221, 221, 221, 0);
  width: 129.6px;
  min-height: auto;
}

#menu-id-66- {
  margin: unset;
  width: 100%;
  background-color: rgb(255, 255, 255);
  min-height: 88px;
}

#menu-id-66- > * {
  max-width: 1320px;
}

#root-container {
  background-position: center center;
}

#section-id-190- {
  margin: unset;
  width: 100%;
  border-radius: 0px;
  background-color: rgb(245, 245, 245);
}

#section-id-190- > * {
  max-width: 1320px;
}

#section-id-208- {
  margin: unset;
  width: 100%;
  border-radius: 0px;
  background-color: rgb(245, 245, 245);
}

#section-id-208- > * {
  max-width: 1320px;
}

#section-id-283- {
  margin: unset;
  min-height: 280px;
  background-color: rgb(24, 24, 24);
  width: 100%;
  border-width: 400px;
  border-style: none;
  background-size: cover;
  background-repeat: no-repeat;
}

#section-id-283- > * {
  max-width: 1320px;
}

#section-id-57- {
  margin: unset;
  width: 100%;
  border-radius: 0px;
  background-color: rgb(245, 245, 245);
}

#section-id-57- > * {
  max-width: 1320px;
}

#text-id-175- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  top: -9px;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 26.8889px;
  font-size: 22px;
}

#text-id-177- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 27px;
  font-size: 18px;
}

#text-id-181- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  top: -9px;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 26.8889px;
  font-size: 22px;
}

#text-id-182- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 27px;
  font-size: 18px;
}

#text-id-186- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  top: -9px;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 26.8889px;
  font-size: 22px;
}

#text-id-187- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 27px;
  font-size: 18px;
}

#text-id-193- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  top: -9px;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 26.8889px;
  font-size: 22px;
}

#text-id-195- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 27px;
  font-size: 18px;
}

#text-id-199- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  top: -9px;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 26.8889px;
  font-size: 22px;
}

#text-id-200- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 27px;
  font-size: 18px;
}

#text-id-204- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  top: -9px;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 26.8889px;
  font-size: 22px;
}

#text-id-205- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 27px;
  font-size: 18px;
}

#text-id-262- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  left: 165px;
  top: 880px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-style: normal;
}

#text-id-267- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  left: 165px;
  top: 880px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-style: normal;
}

#text-id-276- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  left: 165px;
  top: 880px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-style: normal;
}

#text-id-282- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgb(146, 146, 146);
  letter-spacing: 0px;
  line-height: 15.75px;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
}

#text-id-32- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  width: 1200px;
}

#text-id-48- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  top: -9px;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 26.8889px;
  font-size: 22px;
}

#text-id-50- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 27px;
  font-size: 18px;
}

#text-id-52- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  top: -9px;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 26.8889px;
  font-size: 22px;
}

#text-id-53- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 27px;
  font-size: 18px;
}

#text-id-55- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  top: -9px;
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 26.8889px;
  font-size: 22px;
}

#text-id-56- {
  margin: unset;
  background-color: rgba(0, 0, 0, 0);
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 27px;
  font-size: 18px;
}

#root-container {
  background-image: linear-gradient(
    90deg,
    rgb(128, 255, 223) 26%,
    rgb(255, 148, 148) 86%
  );
}

@media (min-width: 1025px) {
  #container-id-31- {
    min-height: 235px;
  }

  #container-id-55- {
    min-height: 42px;
  }

  #content-container {
    display: flex;
  }

  #element-id-33- {
    line-height: 82px;
  }

  #section-id-283- {
    background-position: center center;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  #button-id-64- {
    padding: 16px 30px;
  }

  #container-id-173- {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 64px;
  }

  #container-id-173- > * {
    max-width: 100%;
    margin-right: 0px !important;
    margin-bottom: 40px !important;
  }

  #container-id-173- > :last-child,
  #container-id-173- > .last-child {
    margin-right: 0px !important;
    margin-bottom: 0px !important;
  }

  #container-id-174- {
    flex-direction: column;
    width: 480px;
  }

  #container-id-174- > * {
    max-width: 100%;
  }

  #container-id-180- {
    flex-direction: column;
    width: 480px;
  }

  #container-id-180- > * {
    max-width: 100%;
  }

  #container-id-185- {
    flex-direction: column;
    width: 480px;
  }

  #container-id-185- > * {
    max-width: 100%;
  }

  #container-id-191- {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 64px;
  }

  #container-id-191- > * {
    max-width: 100%;
    margin-right: 0px !important;
    margin-bottom: 40px !important;
  }

  #container-id-191- > :last-child,
  #container-id-191- > .last-child {
    margin-right: 0px !important;
    margin-bottom: 0px !important;
  }

  #container-id-192- {
    flex-direction: column;
    width: 480px;
  }

  #container-id-192- > * {
    max-width: 100%;
  }

  #container-id-198- {
    flex-direction: column;
    width: 480px;
  }

  #container-id-198- > * {
    max-width: 100%;
  }

  #container-id-203- {
    flex-direction: column;
    width: 480px;
  }

  #container-id-203- > * {
    max-width: 100%;
  }

  #container-id-259- {
    padding: 80px 56px;
    flex-direction: column;
  }

  #container-id-259- > * {
    max-width: 100%;
    margin-right: 0px !important;
    margin-bottom: 56px !important;
  }

  #container-id-259- > :last-child,
  #container-id-259- > .last-child {
    margin-bottom: 0px !important;
  }

  #container-id-260- {
    flex-direction: row;
  }

  #container-id-260- > * {
    max-width: 100%;
  }

  #container-id-261- {
    flex-direction: column;
  }

  #container-id-261- > * {
    max-width: 100%;
  }

  #container-id-263- {
    flex-direction: column;
  }

  #container-id-263- > * {
    max-width: 100%;
  }

  #container-id-266- {
    flex-direction: column;
  }

  #container-id-266- > * {
    max-width: 100%;
  }

  #container-id-268- {
    flex-direction: column;
  }

  #container-id-268- > * {
    max-width: 100%;
  }

  #container-id-275- {
    flex-direction: column;
  }

  #container-id-275- > * {
    max-width: 100%;
  }

  #container-id-277- {
    flex-direction: column;
  }

  #container-id-277- > * {
    max-width: 100%;
  }

  #container-id-31- {
    width: 158.59375%;
  }

  #container-id-46- {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 64px;
  }

  #container-id-46- > * {
    max-width: 100%;
    margin-right: 0px !important;
    margin-bottom: 40px !important;
  }

  #container-id-46- > :last-child,
  #container-id-46- > .last-child {
    margin-right: 0px !important;
    margin-bottom: 0px !important;
  }

  #container-id-47- {
    flex-direction: column;
    width: 480px;
  }

  #container-id-47- > * {
    max-width: 100%;
  }

  #container-id-51- {
    flex-direction: column;
    width: 480px;
  }

  #container-id-51- > * {
    max-width: 100%;
  }

  #container-id-52- {
    padding: 0px 56px;
    flex-direction: row;
  }

  #container-id-52- > * {
    max-width: 100%;
  }

  #container-id-54- {
    flex-direction: column;
    width: 480px;
  }

  #container-id-54- > * {
    max-width: 100%;
  }

  #container-id-55- {
    width: auto;
    flex-direction: row;
  }

  #container-id-55- > * {
    max-width: 100%;
    margin-right: 40px !important;
    margin-bottom: 0px !important;
  }

  #container-id-55- > :last-child,
  #container-id-55- > .last-child {
    margin-right: 0px !important;
    margin-bottom: 0px !important;
  }

  #content-container {
    display: flex;
    flex-direction: column;
  }

  #content-container > * {
    max-width: 100%;
  }

  #element-id-176- {
    letter-spacing: 0px;
    line-height: 29.3334px;
    font-size: 24px;
  }

  #element-id-194- {
    letter-spacing: 0px;
    line-height: 29.3334px;
    font-size: 24px;
  }

  #element-id-33- {
    letter-spacing: 0px;
    line-height: 70px;
    font-size: 60px;
  }

  #element-id-49- {
    letter-spacing: 0px;
    line-height: 29.3334px;
    font-size: 24px;
  }

  #text-id-181- {
    letter-spacing: 0px;
    line-height: 29.3333px;
    font-size: 24px;
  }

  #text-id-186- {
    letter-spacing: 0px;
    line-height: 29.3333px;
    font-size: 24px;
  }

  #text-id-199- {
    letter-spacing: 0px;
    line-height: 29.3333px;
    font-size: 24px;
  }

  #text-id-204- {
    letter-spacing: 0px;
    line-height: 29.3333px;
    font-size: 24px;
  }

  #text-id-52- {
    letter-spacing: 0px;
    line-height: 29.3333px;
    font-size: 24px;
  }

  #text-id-55- {
    letter-spacing: 0px;
    line-height: 29.3333px;
    font-size: 24px;
  }
}

@media (max-width: 640px) {
  #button-id-56- {
    letter-spacing: -0.4px;
    line-height: 22px;
    font-size: 20px;
    display: none;
  }

  #button-id-58- {
    letter-spacing: -0.4px;
    line-height: 22px;
    font-size: 20px;
    display: none;
  }

  #button-id-60- {
    letter-spacing: -0.4px;
    line-height: 22px;
    font-size: 20px;
    display: none;
  }

  #button-id-62- {
    letter-spacing: -0.4px;
    line-height: 22px;
    font-size: 20px;
    display: none;
  }

  #button-id-64- {
    min-height: 16px;
    letter-spacing: 0px;
    line-height: 15px;
    font-size: 15px;
    padding: 16px 30px;
  }

  #container-id-173- {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 24px;
  }

  #container-id-173- > * {
    max-width: 100%;
    margin-right: 0px !important;
    margin-bottom: 40px !important;
  }

  #container-id-173- > :last-child,
  #container-id-173- > .last-child {
    margin-right: 0px !important;
    margin-bottom: 0px !important;
  }

  #container-id-174- {
    width: 100%;
    flex-direction: column;
  }

  #container-id-174- > * {
    max-width: 100%;
  }

  #container-id-180- {
    width: 100%;
    flex-direction: column;
  }

  #container-id-180- > * {
    max-width: 100%;
  }

  #container-id-185- {
    width: 100%;
    flex-direction: column;
  }

  #container-id-185- > * {
    max-width: 100%;
  }

  #container-id-191- {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 24px;
  }

  #container-id-191- > * {
    max-width: 100%;
    margin-right: 0px !important;
    margin-bottom: 40px !important;
  }

  #container-id-191- > :last-child,
  #container-id-191- > .last-child {
    margin-right: 0px !important;
    margin-bottom: 0px !important;
  }

  #container-id-192- {
    width: 100%;
    flex-direction: column;
  }

  #container-id-192- > * {
    max-width: 100%;
  }

  #container-id-198- {
    width: 100%;
    flex-direction: column;
  }

  #container-id-198- > * {
    max-width: 100%;
  }

  #container-id-203- {
    width: 100%;
    flex-direction: column;
  }

  #container-id-203- > * {
    max-width: 100%;
  }

  #container-id-259- {
    align-items: center;
    padding: 80px 24px;
    flex-direction: column;
  }

  #container-id-259- > * {
    max-width: 100%;
    margin-right: 0px !important;
    margin-bottom: 56px !important;
  }

  #container-id-259- > :last-child,
  #container-id-259- > .last-child {
    margin-right: 0px !important;
    margin-bottom: 0px !important;
  }

  #container-id-260- {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  #container-id-260- > * {
    max-width: 100%;
    margin-right: 0px !important;
    margin-bottom: 48px !important;
  }

  #container-id-260- > :last-child,
  #container-id-260- > .last-child {
    margin-bottom: 0px !important;
  }

  #container-id-261- {
    align-items: center;
    flex-direction: column;
  }

  #container-id-261- > * {
    max-width: 100%;
    margin-right: 0px !important;
    margin-bottom: 24px !important;
  }

  #container-id-261- > :last-child,
  #container-id-261- > .last-child {
    margin-right: 0px !important;
  }

  #container-id-263- {
    align-items: center;
    min-height: auto;
    flex-direction: column;
  }

  #container-id-263- > * {
    max-width: 100%;
  }

  #container-id-266- {
    align-items: center;
    flex-direction: column;
  }

  #container-id-266- > * {
    max-width: 100%;
    margin-right: 0px !important;
    margin-bottom: 24px !important;
  }

  #container-id-266- > :last-child,
  #container-id-266- > .last-child {
    margin-right: 0px !important;
  }

  #container-id-268- {
    align-items: center;
    flex-direction: column;
  }

  #container-id-268- > * {
    max-width: 100%;
  }

  #container-id-275- {
    align-items: center;
    flex-direction: column;
  }

  #container-id-275- > * {
    max-width: 100%;
    margin-right: 0px !important;
    margin-bottom: 24px !important;
  }

  #container-id-275- > :last-child,
  #container-id-275- > .last-child {
    margin-right: 0px !important;
  }

  #container-id-277- {
    align-items: center;
    flex-direction: column;
  }

  #container-id-277- > * {
    max-width: 100%;
  }

  #container-id-46- {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 24px;
  }

  #container-id-46- > * {
    max-width: 100%;
    margin-right: 0px !important;
    margin-bottom: 40px !important;
  }

  #container-id-46- > :last-child,
  #container-id-46- > .last-child {
    margin-right: 0px !important;
    margin-bottom: 0px !important;
  }

  #container-id-47- {
    width: 100%;
    flex-direction: column;
  }

  #container-id-47- > * {
    max-width: 100%;
  }

  #container-id-51- {
    width: 100%;
    flex-direction: column;
  }

  #container-id-51- > * {
    max-width: 100%;
  }

  #container-id-52- {
    padding: 0px 28px;
    flex-direction: row;
  }

  #container-id-52- > * {
    max-width: 100%;
    margin-right: 28px !important;
    margin-bottom: 0px !important;
  }

  #container-id-52- > :last-child,
  #container-id-52- > .last-child {
    margin-right: 0px !important;
    margin-bottom: 0px !important;
  }

  #container-id-54- {
    width: 100%;
    flex-direction: column;
  }

  #container-id-54- > * {
    max-width: 100%;
  }

  #container-id-55- {
    width: auto;
    flex-direction: row;
  }

  #container-id-55- > * {
    max-width: 100%;
  }

  #content-container {
    display: flex;
    flex-direction: column;
  }

  #content-container > * {
    max-width: 100%;
  }

  #text-id-282- {
    letter-spacing: 0px;
    line-height: 15.75px;
    font-size: 14px;
  }
}
