{% load static %}
<!DOCTYPE html>
<!---Coding By CoderGirl | www.codinglabweb.com--->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign Up</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="{% static 'login_signup.css'%}">
</head>
<body>
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Sign Up</header>
      <form method="POST" action="">
        {% csrf_token %}

        {{ form.as_p }}
        <br/>
        <input type="submit" class="button" value="Register">
      </form>
      <div class="signup">
        <span class="signup">Don't have an account? 
          <a href="{% url 'sign_in' %}">Login</a></span>
        </span>
        
      </div>
    </div>
  </div>
</body>
</html>
