{% load static %}

{% load custom_filter %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://firebasestorage.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'staffportalelements.css'%}" rel="stylesheet" />
    <link href="{% static 'staffportalstyle.css'%}" rel="stylesheet" />
    <style>
      table {
        border-collapse: collapse;
        width: 90%;
        position: absolute;
        top: 40%;
        left: 5%;
      }

      th,
      td {
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid #ddd;
      }
      th {
        background-color: #f2f2f2;
      }

      tr:nth-child(even) {
        background-color: #f9f9f9;
      }

      tr:hover {
        background-color: #e9e9e9;
      }
    </style>
  </head>
  <body id="root-container" style="margin: 0">
    <div
      data-element-behavior="menu"
      id="menu-id-0-"
      data-element-type="section"
    >
      <div id="container-id-4-" data-element-type="container">
        <a id="button-id-7-" data-element-type="button"
          ><span
            id="element-id-0-"
            data-gramm="false"
            wt-ignore-input="true"
            data-quillbot-element="GR0rCMf5hBPu8yiBswatG"
            >The Coffee Shop</span
          ></a
        >
        <div id="container-id-8-" data-element-type="container">
          <a href="{% url 'view_earnings' %}" data-element-type="button"
            ><span
              id="element-id-53-"
              data-gramm="false"
              wt-ignore-input="true"
              data-quillbot-element="pvEpxNeDmHuBIkcIOyLlo"
              >Paycheck</span
            ></a
          ><a href="{% url 'logout' %}" id="button-id-18-" data-element-type="button"
            ><span
              id="element-id-1-"
              data-gramm="false"
              wt-ignore-input="true"
              data-quillbot-element="oHvsgCBaiQRyF-8eWqs2e"
              >Log out</span
            ></a
          >
        </div>
      </div>
    </div>
    <div id="content-container">
      <div id="section-id-2-" data-element-type="section">
        <div id="container-id-3-" data-element-type="container">
          <div id="container-id-6-" data-element-type="container">
            <p
              id="text-id-4-"
              data-element-type="text"
              data-gramm="false"
              wt-ignore-input="true"
              data-quillbot-element="6imUYJ06AmehJQw01n7av"
            ></p>
            <p
              id="text-id-5-"
              data-element-type="text"
              data-gramm="false"
              wt-ignore-input="true"
              data-quillbot-element="DeUKSfi910o5Ah-wJg8U3"
            >
              <span id="element-id-2-">S</span
              ><span id="element-id-3-">taff Dashboard</span>
            </p>
            <table class="ordersTable">
              <tr>
                <th>Order ID</th>
                <th>Item ID</th>
                <th>Item Name</th>
                <th>Item Price</th>
                <th>Quantity</th>
                <th>Action</th>
              </tr>
              {% for order in order_list %}
              <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.items_id }}</td>
                <td>{{ order.items.name }}</td>
                <td>{{ order.price|currency }}</td>
                <td>{{ order.quantity }}</td>
                <td>
                  <form action="{% url 'accept_order' order.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Accept</button>
                  </form>
                  <form action="{% url 'decline_order' order.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Decline</button>
                  </form> 
                </td>
              </tr>
              {% endfor %}

            </table>
          </div>
          <div id="container-id-10-" data-element-type="container"></div>
          <div id="container-id-30-" data-element-type="container">
            <div id="container-id-64-" data-element-type="container">
              
          </div>
          <div id="container-id-9-" data-element-type="container"></div>
        </div>
      </div>
      
  </body>
</html>
