{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drip Cafe - Menu</title>
    <link rel="stylesheet" href="{% static 'menu.css'%}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&family=Marck+Script&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="favicon.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://firebasestorage.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'menuelements.css'%}" rel="stylesheet" />
    <link href="{% static 'menustyle.css'%}" rel="stylesheet" />
  </head>

  <body id="root-container" style="margin: 0">
    <header>
      <div
        data-element-behavior="menu"
        id="menu-id-0-"
        data-element-type="section"
      >
        <div id="container-id-4-" data-element-type="container">
          <a id="button-id-7-" data-element-type="button"
            ><span id="element-id-0-">The Coffee Shop</span></a
          >
          <div id="container-id-8-" data-element-type="container">
            <a id="button-id-58-" data-element-type="button"
              ><span id="element-id-57-">Cart</span></a
            ><a id="button-id-18-" data-element-type="button" href="{% url 'homepage' %}"
              ><span id="element-id-1-">Home</span></a
            ><a id="button-id-0-" data-element-type="button" href="sign_in"
              ><span id="element-id-2-">Login</span></a
            >
          </div>
        </div>
      </div>
    </header>

    <main>
      <section class="menu">
        <div class="flex">
          {% for itms in item_list %}
          <div class="box">
            <div class="img-container">
              <img src="{{ itms.item_picture.url }}" alt="Ifty Picture" />
            </div>
            <h2>{{itms.item_name}}</h2>
            <h3>{{itms.price}}</h3>
          </div>
          {% endfor %}
        </div>

        <footer>
          <div class="icons">
            <a href="#!">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#!">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#!">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#!">
              <i class="fab fa-snapchat-square"></i>
            </a>
          </div>
          <div class="copyright">&copy; Copyright 2022</div>
        </footer>
      </section>
    </main>
    <script src="{% static 'script.js'%}"></script>
    <script src="{% static 'menu.js'%}"></script>
    <script
      src="https://kit.fontawesome.com/c057664144.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>